.page {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  top: -30px;
  background-color: #bcddfc54;
  background-size: cover;
  background-position: center;
  border: 7px double #888fee;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.651);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 45px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  font-family: Arial;
  font-weight: bold;
  color: rgb(103, 67, 204);
  text-shadow: 0 1px 0 #dddddd, 1px 2px 0 #ccc, 2px 3px 0 #bbb, 3px 4px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 12px;
  margin: 10px 0;
}

.button {
  padding: 12px;
  font-weight: bold;
}
